* {
    margin: 0;
    padding: 10px 50px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    color: rgb(197, 96, 197);
}

.divs {
    display: flex;
    height: 750px;
    padding: 10px 50px;
    justify-content: center;
    gap: 30px;
}

img {
    background-color: white;
}

h2 {
    background-color: white;
    text-align: center;
}

p {
    background-color: white;
}

.desarrollo {
    box-shadow: 0 -5px 20px rgb(197, 96, 197);
    background-color: white;
    text-align: justify;
    height: 450px;
    width: 20%;
    padding: 50px 25px;
    align-items: center;
}

.creacion {
    box-shadow: 0 -5px 20px rgb(197, 96, 197);
    position: relative;
    top: 200px;
    background-color: white;
    text-align: justify;
    height: 450px;
    width: 20%;
    padding: 50px 25px;
}

hr {
    background-color: rgb(197, 96, 197);
    height: 1px;
    border: 1px;
}

footer {
    padding-top: 20px;
    color: rgb(197, 96, 197);
    text-align: center;
}

@media screen and (max-width:352px) {

    *{
        margin: 0;
        padding: 0;
    }

    h1 {
        padding-top: 10%;
        font-size: 30px;
        text-align: center;
    }

    img{
        width: 200px;
    }

    .divs {
        padding: 45px;
        display: block;
        width: 70%;
        justify-content: center;
        gap: 50px;
    }

    .desarrollo {
        width: 90%;
    }

    .creacion {
        width: 90%;
    }

    footer {
        padding-top: 250%;
    }
}